
# Ignore important documents everywhere
**/*.doc
**/*.docx
**/*.pdf
**/*.xls
**/*.xlsx
**/*.ppt
**/*.pptx
**/*.txt
**/*.csv

# Ignore environment and IDE files
.env
**/.idea/
*.iws
*.iml
*.ipr

# Ignore build and IDE folders
**/target/
**/.mvn/wrapper/maven-wrapper.jar
**/build/
**/.vscode/

docker-compose.yml